{% extends 'base.html' %}
{% block title %}Пост{% endblock %}
{% block menu %}
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:post_create' %}">Новый пост</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:post_update' post.pk %}">Редактировать пост</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:post_delete' post.pk %}">Удалить пост</a>
            </li>
        {% endif %}
{% endblock %}
{% block content %}
    <div>
        <h1 class="text-center mt-4 mb-3">Пост</h1>
            <h4 class="mb-5">{{ post.title }}</h4>
            <div>
                <h6>{{ post.text }}</h6>
                <h6>Автор: {{ post.author.username }}</h6>
            </div>
    </div>

{% endblock %}