{% extends 'base.html' %}
{% block title %}Пользователи{% endblock %}
{% block menu %}
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:post_create' %}">Новый пост</a>
            </li>
        {% endif %}

{% endblock %}
{% block content %}
        {% for user in user_list %}
            <div class="mb-4 mt-4">
            <a href="{% url 'webapp:user_detail' user.pk %}">
                <h4>{{ user.username }}</h4>
            </a>
            </div>
        {% endfor %}
{% endblock %}