{% extends 'base.html' %}
{% block title %}Пользователи{% endblock %}
{% block menu %}
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:post_create' %}">Новый пост</a>
            </li>
        {% endif %}

{% endblock %}
{% block content %}
    <div class="content d-flex">
        <div class="row">
        {% for info in userinfo_list %}
        <div class="card text-white bg-secondary m-5" style="max-width: 18rem;">
            <div class="card-header">{{ info.user.username }}</div>
            <div class="card-body">
                <a href="{% url 'webapp:user_detail' info.pk %}" class="btn btn-info">Узнать больше</a>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}