{% extends 'base.html' %}
{% block title %}Пользователи{% endblock %}
{% block menu %}
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webapp:post_create' %}">Новый пост</a>
            </li>
            {% if userinfo.user == request.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'webapp:user_update' userinfo.pk %}">Редактировать данные</a>
                </li>
            {% endif %}
        {% endif %}
{% endblock %}
{% block content %}

    <div class="card mt-5 mb-5" style="width: 30rem;">
        {% if userinfo.photo %}
            <img src="{{ userinfo.photo.url }}" class="card-img-top" alt="Аватар">
            <div class="card-body">
                <h5 class="card-title">{{ userinfo.user.username }}</h5>
                <p class="card-text">Друзья ползователя:<br>
                    <p class="ml-3">{% for friend in userinfo.friends.all %}
                        {{ friend.username }}<br>
                    {% endfor %}</p>
                </p>
                <p class="btn btn-primary p-0" id="phone"><input id="add-item-btn" type="button" value="Телефон" class="btn btn-primary"></p>
            </div>
        {% else %}
            <div class="card-body">
                <h5 class="card-title">{{ userinfo.user.username }}</h5>
                <p class="card-text">Друзья ползователя:<br>
                    <p class="mr-3">{% for friend in userinfo.friends.all %}
                        {{ friend.username }}<br>
                    {% endfor %}</p>
                </p>
                <p class="btn btn-primary p-0" id="phone"><input id="add-item-btn" type="button" value="Телефон" class="btn btn-primary"></p>
            </div>
        {% endif %}
    </div>

    {% block scripts %}
        <script>
            let button = document.getElementById('add-item-btn');
            let element = document.getElementById("phone");
            button.onclick = function() {
                element.innerText = {{ userinfo.phone }};
            }
        </script>
    {% endblock %}

    <h4>Посты ползователя:</h4>
        {% for post in userinfo.user.author.all %}
            <div class="card mb-3">
            <div class="card-body">
            {{ post.title }}
            </div>
            </div>
        {% endfor %}


{% endblock %}